@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --navbar-color: #F76C5E;
    --sidebar-color: #4A4A4A;
    --body-color: rgb(255, 246, 204);
    --vurgu-color: #a7ff43;
    --vurguRed-color: rgb(212, 91, 35);
    --vurguMavgi-color: #0084ff;



    --paragraf-wt: 500;
    --vurgu-wt: 600;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* background: linear-gradient(to right, #ff0000 50%, #0000ff 50%); */
/* C6D2ED body */
body {
    min-height: 100vh;
    height: auto;
    background-color: var(--body-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}



.scrollbox::-webkit-scrollbar {
    width: 5px;
}

.scrollbox::-webkit-scrollbar-thumb {
    background-color: #dbcfcf;
    border-radius: 20px;
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: var(--vurguRed-color);
    /* box-shadow: 0 4px 20px rgb(197, 174, 106); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


/* sidebar background için 463730 */

.sidebar {
    position: fixed;
    height: 10%;
    width: 80px;
    border-radius: 30px;
    background-color: var(--vurguRed-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.295);
    top: 15%;
    right: 1.7%;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 20px;
    z-index: 5;
    overflow: hidden;
    transition: width 0.7s cubic-bezier(0.6, 0.05, 0.28, 0.9), height 0.7s cubic-bezier(0.6, 0.05, 0.28, 0.9);
    /* Zamanlama fonksiyonu eklendi */
    ;
}

.sidebar:hover {
    width: 350px;
    height: 80%;
}

.inner-scrollbox,
.scrollbox:hover {
    visibility: visible;
}

.inner-scrollbox {
    visibility: visible;
    display: block;
    overflow: hidden;
}

.scrollbox {
    position: relative;
    overflow: auto;
    height: 100%;
    margin-right: 10px;
    visibility: hidden;
}

.konular {}

.menuSvg {
    visibility: visible;
    position: relative;
    display: block;
    justify-content: center;
    margin-left: 9px;
    margin-top: 12px;
}

.konularYazisi {
    visibility: visible;
    position: relative;
    color: #ffffff;
    opacity: 0;
    left: 30%;
    transition: opacity 1s ease;

}

.sidebar ul {
    width: 300px;
    opacity: 0;
    transition: opacity 1s ease;
}

.sidebar:hover ul,
.sidebar:hover .konularYazisi {
    opacity: 1;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 5px;
}

.sidebar ul li a {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin-left: 14px;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover {
    font-size: 16px;
}


.sidebar ul li a.active::before {
    content: '•';
    /* Nokta simgesi */
    color: var(--vurgu-color);
    /* Noktanın rengi */
    font-size: 25px;
    /* Noktanın boyutu */
    margin-right: 5px;
    /* Metin ile nokta arasındaki mesafe */
    display: inline-block;
    /* Yan yana yerleşim */
    vertical-align: middle;
    /* Metinle hizalama */
}

.sidebar ul li a.active {
    color: var(--vurgu-color);
}

.logo {
    position: relative;
    width: 150px;
    /* Logonun genişliği */
    height: 50px;
    /* Logonun yüksekliği */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Taşmaları önler */
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}

.logo-text {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* Animasyon ekledik */
}

.logo-img {
    position: absolute;
    width: 50%;
    /* SVG genişliği */
    height: 100%;
    /* SVG oranını korur */
    opacity: 0;
    /* SVG başlangıçta gizli */
    transition: opacity 0.4s ease, transform 0.4s ease;
    /* Geçiş animasyonu */
}

.hidden {
    display: none;
}

.visible {
    display: block;
    opacity: 1;
    /* Görünür yapar */
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
    transition: font-size 0.4s ease;
}


.navbar a:hover {
    font-size: 19px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navbar a.active::before {
    width: 100%;
    background-color: #fff;
}

.mainCanvas {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    background-color: var(--body-color);
    /* border: 3px solid #ffffff; */
    width: 90%;
    height: auto;
    margin: 80px auto 0;
}


.ana {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    text-align: left;
    margin: 50px;
}

.ana h1 {
    font-size: 70px;
    color: #ff0000;
    display: block;
    position: relative;
    text-align: center;
    align-self: center;
    margin-left: 0;
    margin-top: 80px;
    /* flex displayindeyse align self ile kullanıcaksın tek değiştirmek istediğin zaman */
}

.ana h2 {
    font-size: 50px;
    color: #000000;
    text-decoration: underline;
    display: block;
    margin-left: 0;
}

.ana h3 {
    font-size: 30px;
    font-weight: 800;
    color: var(--vurguRed-color);
}


.ana h4 {
    font-size: 20px;
    font-weight: 700;
}

.ana p {
    font-size: 20px;
    color: #000000;
    font-weight: var(--paragraf-wt);
}


.next-btn {
    margin-top: 120px;
    text-align: center;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: var(--vurguMavgi-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.next-btn:hover {
    transform: scale(1.1);
}

.welcome-image {
    display: block;
    max-width: 20%;
    /* Görseli kutu genişliğine sığdırır */
    height: auto;
    /* Oranını korur */
    margin: 0 auto;
    /* Yazıyla görsel arasında boşluk */
    justify-content: center;
    pointer-events: none;
}




/* TÜM ANİMASYON CANVASLARI */

#sineCanvas {
    display: block;
    margin: 0 auto;
    /* Canvas'ı yatayda ortala */
    /* border: 2px solid #ccc; */
    /* Çerçeve ekle (isteğe bağlı) */
    position: relative;
    z-index: 1;
    /* clip-path: inset(0 0 300px 0); */
    /* Sadece alt kısmını kıs */

}


#mainBaslik-sesFizigi {
    font-size: 70px;
    color: #772828;
    display: block;
    position: absolute;
    text-align: center;
    align-self: center;
    margin-left: 0;
    z-index: 2;
    pointer-events: none;
}


.derseBasla_btn {
    position: absolute;
    top: 100px;
    right: 120px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    z-index: 2;
    color: white;
    background-color: var(--vurguMavgi-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.derseBasla_btn:hover {
    transform: scale(1.1);
}


.clearBalls_btn {
    position: absolute;
    top: 150px;
    right: 120px;
    width: 134px;
    padding: 10px 20px;
    z-index: 2;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #ff4c4c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.clearBalls_btn:hover {
    transform: scale(1.1);
}







/* birim çember */

#birimçember {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}





.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

.footer a {
    color: var(--vurgu-color);
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 10px;
}